<header class="bg-slate-600 text-white shadow-md px-4">
    <div class="max-w-5xl mx-auto py-3 flex items-center justify-between">
      <div class="flex items-center space-x-3">
        <span class="text-lg font-semibold">Task Manager</span>
      </div>
  
      <!-- mobile menu icon -->
      <button class="md:hidden flex" (click)="isMenuOpen = !isMenuOpen">
        <lucide-angular class="mr-0.5" [img]="AlignRightIcon"></lucide-angular>
      </button>
  
      <!-- menu for desktop -->
      <nav class="hidden md:flex space-x-3">
        <a routerLink="/" class="flex items-center hover:cursor-pointer hover:text-gray-200 active:scale-95 ">
          <lucide-angular class="mr-0.5" [img]="HomeIcon"></lucide-angular>Home</a>
        <a routerLink="/settings" class="flex items-center  hover:cursor-pointer hover:text-gray-200 active:scale-95">
          <lucide-angular class="mr-0.5" [img]="SettingsIcon"></lucide-angular>Settings</a>
      </nav>
    </div>
  
    
  
  </header>
  <!-- menu for mobile -->
  @if(isMenuOpen){
    <div class="md:hidden bg-slate-700 px-4 text-white">
      <a routerLink="/" class="flex hover:cursor-pointer py-2 hover:text-gray-200"><lucide-angular class="mr-0.5" [img]="HomeIcon"></lucide-angular>Home</a>
      <a routerLink="/settings" class="flex hover:cursor-pointer py-2 hover:text-gray-200"><lucide-angular class="mr-0.5" [img]="SettingsIcon"></lucide-angular>Settings</a>
    </div>
  }